<div id="<%= dom_id debate %>">
  <p>
    <strong>Title:</strong>
    <%= debate.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= debate.text %>
  </p>

  <p>
    <strong>User:</strong>
    <%= debate.user %>
  </p>

</div>
